@page
@{
  var userParts = User.Identity.Name.Split('@');
  var service = new TableService(userParts[1]);
  var spend = (int)Math.Round(await service.CalculateUsageAsync(userParts[0]), 0, MidpointRounding.AwayFromZero);
  var remaining = Math.Max(0, Organisation.Instance.UserCreditsPerWeek - spend);
}

<header>
  <div>
    &#x1F916; <b>AI Assistant</b><a href="/" style="margin-left: 18px">New Chat</a>
  </div>
  <div>
      <span class="hide-mobile">@User.Identity.Name </span><div id="credits"><div></div></div> <a href="/auth/logout">Logout</a>
  </div>
</header>

<div id="messages">
  <div class="message assistant"><p>Hi there! I'm here to help with educational and administrative tasks. Please do not submit personal or confidential information. All messages are recorded and may be monitored by your organisation.</p></div>
  <div class="initial-option">Start typing or choose a topic:</p></div>
</div>
<textarea id="prompt" autofocus></textarea>

@section Scripts {
  <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js" integrity="sha512-7rhBJh1om/W5Ztx7WiYOR9h2wlSaTmPyQMoHFtbT/FVNIA12y6S6I8HY9mrBS1uJ3dSU/R3qaSAXsGYuRjMDxg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/11.0.0/marked.min.js" integrity="sha512-h8DjSP4Ck/RxwTZ0/uHyZLNzVrmo4qna/mKHedBT0n7wV1KxnR+B/UMqS/hUgIxqPmFnp5mCL0qOCfnq2hTthg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    let credits = @remaining;
    const maxCredits = @Organisation.Instance.UserCreditsPerWeek;
    const adminName = '@Organisation.Instance.AdminName';
    const serviceAccountEmail = '@Organisation.Instance.ServiceAccountEmail';
    const isAdmin = @User.IsInRole(Roles.Admin).ToString().ToLower();
  </script>
  <script src="/js/templates.js" asp-append-version="true"></script>
  <script src="/js/index.js" asp-append-version="true"></script>
}