@page
@{
  var userParts = User.Identity.Name.Split('@');
  var service = new TableService(userParts[1]);
  var spend = (int)Math.Round(await service.CalculateUsageAsync(userParts[0]), 0, MidpointRounding.AwayFromZero);
  var remaining = Math.Max(0, Organisation.Instance.UserCreditsPerWeek - spend);
}

<header>
  <div>
    &#x1F916; <b>AI Assistant</b><a href="/" style="margin-left: 18px">New Chat</a>
  </div>
  <div>
      <span class="hide-mobile">@User.Identity.Name </span><div id="credits"><div></div></div> <a href="/auth/logout">Logout</a>
  </div>
</header>

<div id="messages">
  <div class="message assistant"><p>Hi there! I'm here to help with educational and administrative tasks. Please do not submit personal or confidential information. All messages are recorded by your organisation.</p></div>
</div>
<textarea id="prompt" disabled autofocus></textarea>

@section Scripts {
  <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0-rc.2.23480.2/signalr.min.js" integrity="sha512-+oIjk2mDU2pEsqOABtke3yOuCpNAMQyBV1VRP+34mx4KSQKL+sMxHQK63Vw59GDaJDxHj2ZtKG4TMKkYovyHqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/9.1.2/marked.min.js" integrity="sha512-rfX4p3RNnxdwLT3wWP1K0NR3ztTobn+sISlT9WhxDDK00zNYbQ6MCHA5OHm0hqKAzEMXYCgFrp8iY/ER5MkXqA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    let credits = @remaining;
    const maxCredits = @Organisation.Instance.UserCreditsPerWeek;
    const adminName = '@Organisation.Instance.AdminName';
    const serviceAccountEmail = '@Organisation.Instance.ServiceAccountEmail';
    const isAdmin = @User.IsInRole(Roles.Admin).ToString().ToLower();
  </script>
  <script src="/js/templates.js" asp-append-version="true"></script>
  <script src="/js/index.js" asp-append-version="true"></script>
}